body {
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    min-height: 95vh;
}

.card {
    display: flex;
    width: 80%;
    max-width: 600px;
    margin: auto;
    justify-content: space-around;
    border-radius: 10px;
    overflow: hidden;
}

.img-container {
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main-text {
    width: 50%;
    padding: 3vw; /*1.875rem*/
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
}

.main-text h3 {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.25rem;

    margin-top: 0;
    margin-bottom: 2.1em;
}

.main-text h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1;

    margin-top: 0;
    margin-bottom: 0.83em;
}

.main-text p {
    color: hsl(228, 12%, 48%);
    line-height: 1.7;
}

.prices {
    display: flex;
    align-items: center;
    gap: 2vw;

    margin-bottom: 1.5625em;
}

#current-price {
    font-family: "Fraunces", serif;
    color: hsl(158, 36%, 37%);
    font-size: 1.875rem;

    margin: 0;
}

#old-price {
    text-decoration: line-through;
    margin: 0;
}

.buy-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
    padding: 0.9375em;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.buy-btn:hover {
    background-color: hsl(158, 24%, 24%);
}

.buy-btn img {
    width: 15px;
}

@media (max-width: 540px) {
    .card {
        flex-direction: column;
    }

    .img-container {
        width: 100%;
        height: 50vw;
    }

    .main-text {
        width: 100%;
        padding: 1.5em;
    }

    .main-text h3 {
        margin-bottom: 1.2em;
    }

    .main-text h1 {
        font-size: 1.5rem;
    }

    .main-text p {
        font-size: 0.725rem;
    }

    .prices {
        margin-bottom: 1em;
    }
}
